body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b9e3f9;
    overflow: hidden;
    transform: scale(.9)
  }
  
  #svgWrapper {
    width: 720px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  #mailboxSVG {
    width: 720px;
    position: absolute;
    z-index: -1;
    border-radius: 25px;
    box-shadow: 0 12px 30px rgba(0,0,0,.1);
  }
  
  #textWrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 260px;
  }
  
  h1 {
    font-family: "Pacifico", Helvetica, sans-serif;
    color: #E96F8C;
    font-weight: 300;
    font-size: 42px;
    position: relative;
    top: -25px;
    pointer-events: none;
  }
  
  input {
    position: absolute;
    top: -43px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding: 12px 0;
    color: rgba(0,0,0,.5);
    background: transparent;
    width: 190px;
    left: -115px;
    text-align: center;
    outline: 0;
    border: none;
  }
  
  #disclaimer, #success {
    font-family: "Open Sans", sans-serif;
    color: rgba(0,0,0,.5);
    pointer-events: none;
    font-size: 14px;
    position: relative;
    top: 18px;
  }
  
  #success {
    position: relative;
    top: -80px;
    opacity: 0;
    pointer-events: none;
  }
  
  #success {
    font-size: 18px;
  }
  
  #formWrapper {
    position: relative;
  }
  
  #placeholder {
    position: absolute;
    left: -115px;
    top: -50px;
    pointer-events: none;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-style: italic;
    color: rgba(0,0,0,.3);
    text-align: center;
    width: 190px;
  }
  
  button {
    background: transparent;
    padding: 27px;
    border-radius: 100%;
    color: transparent;
    position: absolute;
    top: -48px;
    left: 88px;
    cursor: pointer;
    border: none;
  }
  
  .fa-paper-plane {
    color: white;
    font-size: 24px;
    position: relative;
    left: -12px;
    top: -11px;
  }
  
  @media (max-height: 720px) {
    svg {
      transform: scale(.7);
    }
    #textWrapper {
      top: 193px;
    }
    #title {
      font-size: 32px;
    }
    #disclaimer {
      font-size: 12px;
      top: 0;
    }
    #email, #placeholder {
      font-size: 14px;
    }
    
    #placeholder {
      top: -46px;
      left: -108px;
    }
    
    #email {
      top: -41px;
      width: 130px;
      left: -80px;
      padding: 10px 0;
    }
    
    #btn {
      padding: 10px;
      left: 62px;
      top: -42px;
    }
    
    .fa-paper-plane {
      font-size: 18px;
      left: -1px;
      top: 1px;
    }
    
    #success {
      font-size: 14px;
      top: -70px;
    }
  }